@page "/example3"

@using Pg.SfGridCustomButtons.Client.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations

@inject ISectionRepository SectionRepository

<h3>Example 3</h3>

<SfGrid @ref="Grid" DataSource="@Sections" AllowPaging="true" AllowSorting="true"
        Toolbar="@toolbarItems">
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Normal"></GridEditSettings>
    <GridPageSettings PageSize="10"></GridPageSettings>
    <GridEvents OnActionBegin="OnBeginHandler" TValue="Section" onToolbarClick="OnToolbarClickHandler"></GridEvents>
    <GridColumns>
        <GridColumn Field="Id" HeaderText="ID" Width="100" TextAlign="TextAlign.Right" IsPrimaryKey="true" AllowAdding="false"></GridColumn>
        <GridColumn Field="Name" HeaderText="Name" Width="200"></GridColumn>
        <GridColumn Field="Description" HeaderText="Description" Width="300"></GridColumn>
    </GridColumns>

</SfGrid>

@code {

    private const string AddButtonId = "AddButton"; 
    private const string EditButtonId = "EditButton"; 
    private const string UpdateButtonId = "UpdateButton";
    private const string DeleteButtonId = "DeleteButton"; 
    private const string CancelButtonId = "CancelButton"; 
    private const string DoSomethingButtonId = "DoSomethingButton";

    private List<ToolbarItem> toolbarItems = new()
    {
        new ToolbarItem { Id = AddButtonId, Text = "Add", PrefixIcon = "e-add"  },
        new ToolbarItem { Id = EditButtonId, Text = "Edit", PrefixIcon = "e-edit"  },
        new ToolbarItem { Id = DeleteButtonId, Text = "Delete", PrefixIcon = "e-delete" },
        new ToolbarItem { Id = UpdateButtonId, Text = "Update", PrefixIcon = "e-update" },
        new ToolbarItem { Id = CancelButtonId, Text = "Cancel", PrefixIcon = "e-cancel"  },
        new ToolbarItem { Id = DoSomethingButtonId, Text = "DoSomething" }
    };

    private SfGrid<Section> Grid { get; set; }

    public IList<Section> Sections { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sections = this.SectionRepository.GetAll();
    }

    private async void OnToolbarClickHandler(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == AddButtonId)
        {
            await Grid.AddRecordAsync();
        }
        else if (args.Item.Id == EditButtonId)
        {
            await Grid.StartEditAsync();
        }
        else if (args.Item.Id == DeleteButtonId)
        {
            await Grid.DeleteRecordAsync();
        }
        else if (args.Item.Id == UpdateButtonId)
        {
            await Grid.EndEditAsync();
        }
        else if (args.Item.Id == CancelButtonId)
        {
            await Grid.CloseEditAsync();
        }
        if (args.Item.Id == DoSomethingButtonId)
        {
            //TODO: This is the place where I would like o have my custom logic applied
        }
    }

    private async void OnBeginHandler(ActionEventArgs<Section> args)
    {
        var data = args.Data;

        if (args.Action?.ToLower() == "add")
        {
            var section = SectionRepository.Insert(data);
            data.Id = section.Id;
            this.Grid.Refresh();
        }
        else if (args.Action?.ToLower() == "edit")
        {
            SectionRepository.Update(data);
        }
        if (args.Action?.ToLower() == "delete")
        {
            SectionRepository.Delete(data.Id);
        }
    }

}