@page "/example1"

@using Pg.SfGridCustomButtons.Client.Data
@using Syncfusion.Blazor.Grids

@inject ISectionRepository SectionRepository

<h3>Example1</h3>

<SfGrid @ref="Grid" DataSource="@Sections" AllowPaging="true" AllowSorting="true"
 Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })">
    <GridEvents OnActionBegin="OnBeginHandler" TValue="Section"></GridEvents>
    <GridColumns>
        <GridColumn Field="Id" HeaderText="ID" Width="100" TextAlign="TextAlign.Right" IsPrimaryKey="true" AllowAdding="false"></GridColumn>
        <GridColumn Field="Name" HeaderText="Name" Width="200"></GridColumn>
        <GridColumn Field="Description" HeaderText="Description" Width="300"></GridColumn>
    </GridColumns>

</SfGrid>

@code {
    private SfGrid<Section> Grid { get; set; }

    public IList<Section> Sections { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Sections = this.SectionRepository.GetAll();
    }

    private async void OnBeginHandler(ActionEventArgs<Section> args)
    {
        var data = args.Data;

        if (args.Action?.ToLower() == "add")
        {
            SectionRepository.Insert(data);
        }
        else if (args.Action?.ToLower() == "edit")
        {
            SectionRepository.Update(data);
        }
        if (args.Action?.ToLower() == "delete")
        {
            SectionRepository.Delete(data.Id);
        }
        if (args.Action?.ToLower() == "refresh")
        {
            Sections = this.SectionRepository.GetAll();
            Grid.Refresh(); 
        }
    }

}
